@import 'utilities';
html,
body {
    padding: 0;
    margin: 0;
    height: 2000px;
}

body {
    font-family: 'Dosis', sans-serif;
    line-height: 1.6;
}

a {
    text-decoration: none;
    color: $dark-color;
}

ul {
    list-style: none;
}

h2,
h3,
h4 {
    text-transform: uppercase;
    color: white;
}

img {
    width: 100%;
    left: 0;
}

//Main nav
#main-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8.7rem;
    li {
        padding: 1rem 1.5rem;
    }
    a {
        text-decoration: none;
        color: white;
        text-transform: uppercase;
        border-bottom: 3px transparent solid;
        padding-bottom: 0.5rem;
        margin-right: 4rem;
        font-size: 1.7rem;
        transition: border-color 0.5s;
        &:hover {
            border-color: $medium-color;
        }
        &.current {
            border-color: $main-color;
        }
    }
}

.fixed nav {
    background-color: #333;
    position: fixed;
    top: -160px;
    left: 0;
    right: 0;
}

//Header
#header-home {
    background: #333 url('../img/showcase.jpg') no-repeat center center/cover;
    height: 100vh;
    color: #fff;
}

#header-content {
    text-align: center;
    padding-top: 20%;
    h1 {
        font-size: 4rem;
        line-height: 1.2;
    }
}

//Home section
#about {
    &-a {
        .sta {
            h2 {
                font-size: 2rem;
                color: #333;
            }
            p {
                font-size: 1.5rem;
            }
            .story {
                padding-left: 6rem;
                padding-right: 6rem;
                padding-top: 4rem;
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                column-gap: 3rem;
                .img {
                    background: #333 url('../img/poker-face.jpg') no-repeat center center/cover;
                    width: auto;
                    height: 60vh;
                }
                .info-me {
                    border-left: $main-color 5px solid;
                    padding: 2rem 1rem;
                    h3 {
                        color: #333;
                    }
                    background-color: $light-color;
                    color: $dark-color;
                }
            }
        }
    }
}